[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gscreend"]
	path = gscreend
	url = https://github.com/imkeller/gscreend
	shallow = true
	registered = true
[submodule "immunotation"]
	path = immunotation
	url = https://github.com/imkeller/immunotation
	shallow = true
	registered = true
